/*
Again I Recommend that you comment where your code begins and ends
This will make merging your code easier
*/

/*Carters Section*/

/*Carters CSS Here*/

/*End of Carters Section*/


/* Steven's CSS*/
.clss {
    background-color: rgb(204, 96, 96);
    border: rgb(177, 0, 0) solid 10px;
    margin: 100px;
    padding: 10px;
    color: black;
}
/* End */

/* This Deng's code start*/
        .div1 {
        background-color: lightblue;
      }
      .div2 {
        background-color: lightgoldenrodyellow;
      }
      .div3 {
        background-color: lightgreen;
      }
      
      h1 {
        color: white;
        text-align: left;
      }
      
      p {
        font-family: verdana;
        font-size: 20px;
      }

    /* This is where Deng's code ends. */
   

