/*
Again I Recommend that you comment where your code begins and ends
This will make merging your code easier
*/

/*Carters Section*/

/*Carters CSS Here*/

/*End of Carters Section*/
/* This Deng's code start*/
        .div1 {
        background-color: lightblue;
      }
      .div2 {
        background-color: lightgoldenrodyellow;
      }
      .div3 {
        background-color: lightgreen;
      }
      
      h1 {
        color: white;
        text-align: left;
      }
      
      p {
        font-family: verdana;
        font-size: 20px;
      }

    /* This is where Deng's code ends. */
   