/*
Again I Recommend that you comment where your code begins and ends
This will make merging your code easier
*/

/*Carters Section*/

/*Carters CSS Here*/

/*End of Carters Section*/


/* Steven's CSS*/
.clss {
    background-color: rgb(204, 96, 96);
    border: rgb(177, 0, 0) solid 10px;
    margin: 100px;
    padding: 10px;
    color: black;
}

.over {
    margin-left: 1400px;
}

   

